body {
  /*background-color: black;*/
  font-style: 'Helvetica';
}
.container {
  display: flex;
  flex-direction: column;
}
.player {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.music-player {
  width: 80%;
  box-shadow: 2px 2px 2px black;

}
.imgs {
  display: flex;
}
img {
  border-radius: 50%;
  width: 25%;
  height: 100%;
  filter: invert();

}

.searchbar {
  /*margin-top: 50px;*/
  width: 50%;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 200;
}
.button {
  margin-top: 2px;
  margin-left: 15px;
  border-radius: 5px;
  height: 45px;
  width: 200px;
  font-weight: 200;
  font-size: 30px;
  color: white;
  background-color: gray;
}
.search {
  width: 100%;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
